.loading--div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    place-items: center;
}

.loading--text {
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}